*{
    margin: 0;
    padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items : center;
  min-height: 100vh
  
}

.container{
        max-width: 360px;
	margin: 0 auto;
}
.card{
    padding: 18px;
    background-color: white;
    text-align: center;
    margin: 0 1em;
    border-radius: 17px;
    box-shadow: 5px 5px 50px gray;
}

.card > img{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

img{
border-radius: 12px;
}
.text{
    padding: 22px 10px;
}

.text h4{
	padding-bottom: 15px

    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.text p{
	

    font-weight: 400;
    color: hsl(220, 15%, 55%);
}